<!DOCTYPE html>
<html>
  <head>
    <title>IfYoureGoing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav_bar">
      <%= render 'layouts/nav_bar' %>
    </div>
    <div class="login_display">
      <% if logged_in? %>
        <p>Logged In</p>
        <p><%=current_occupant.name%></p>
      <% end %>
    </div>

    <div class="main_body">

      <div class="left_spacer"></div>
        <div class="center_body">
          <div class="flash_messages">
            <% flash.each do |key,value| %>
              <%= content_tag :div, value, class: "flash #{key}" %>
            <% end %>
          </div>

          <%= yield %>


        </div>
      <div class="right_spacer"></div>
    </div>
  </body>
</html>
